
.container{
    display: flex;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.272);
    color: white;
    
    
}
.container ul{
    display: flex;
    margin-left: 130vh;
    
}
.container li{
    list-style: none;
    margin-top: 15px;
    padding: 5px;
    margin-left:30px ;
    margin-right: 16px;
    
}
.container h2{
    color: rgb(99, 145, 246) ;
    font-family:cursive;
}